@import "tailwindcss";

@layer components {
  .container {
    @apply mx-auto px-5 max-w-[1280px];
  }

  /* Responsive container for smaller screens */
  @media (min-width: 1536px) {
    .container {
      @apply max-w-[1286px];
    }
  }
}

/* Custom colors as utility classes */
@layer utilities {
  .text-primary {
    @apply text-[#F69348];
  }

  .bg-primary {
    @apply bg-[#F69348];
  }

  .border-primary {
    @apply border-[#F69348];
  }

  .flex-center {
    @apply flex justify-center items-center;
  }
  .section-title {
    @apply text-3xl lg:text-[40px] font-[500];
  }
  .section-subtitle {
    @apply text-[16px] lg:text-[20px] text-[#6D758F] max-w-[800px] mx-auto;
  }
}

@layer base {
  button {
    @apply cursor-pointer;
  }
}
/* path {
  fill: #1A1A1A;
}  */

.ant-dropdown .ant-dropdown-menu {
  padding: 1px !important;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #6b5ecc34;  */
  background: #f1f1f1 !important;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c5c4c4;
}

p {
  margin-bottom: 0 !important;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background-color: rgba(0, 0, 0, 0.2) !important;
  opacity: 1;
  transition: all 0.3s;
  margin-bottom: -30px !important;
}

.swiper-pagination-bullet-active {
  background-color: #1c55e0 !important;
}

.custom-input .ant-input,
.custom-input .ant-select-selector {
  height: 40px !important;
  border-radius: 0px 10px 10px 0px !important;
  display: flex;
  align-items: center;
  background-color: white;
}

#collapse-demo-collapsible .ant-space {
  width: 100%;
}

#banner {
  margin-bottom: 80px;
} 

.partner-input .ant-form .ant-form-item {
    margin-bottom: 10px !important;
  }